In [1]:
# импортируем pandas и datatable
import pandas as pd
import datatable as dt

In [2]:
%%time

# загружаем данные с помощью pandas
dataframe = pd.read_csv('Data/train.csv', sep=',')

CPU times: user 3.88 s, sys: 635 ms, total: 4.51 s
Wall time: 4.52 s

In [3]:
%%time

# загружаем данные с помощью datatable
datatable_df = dt.fread('Data/train.csv', sep=',')

CPU times: user 2.67 s, sys: 219 ms, total: 2.89 s
Wall time: 213 ms

In [4]:
# убедимся, что перед нами - объект
# Frame библиотеки datatable
type(datatable_df)

datatable.Frame

In [5]:
%%time

# преобразовываем фрейм в датафрейм pandas
datatable_pandas = datatable_df.to_pandas()

CPU times: user 3.44 s, sys: 528 ms, total: 3.97 s
Wall time: 1.79 s

In [6]:
# смотрим количество строк и столбцов
datatable_df.shape

(1787571, 34)

In [7]:
# смотрим первые 10 наблюдений
datatable_df.head()

In [8]:
# смотрим типы переменных
for col in range(len(datatable_df.names)):
    print(datatable_df.names[col], ':', datatable_df.stypes[col])

ID : stype.int32
SK_DATE_DECISION : stype.int32
DEF : stype.bool8
NUM_SOURCE : stype.int32
CREDIT_ACTIVE : stype.int32
CREDIT_COLLATERAL : stype.bool8
CREDIT_CURRENCY : stype.str32
DTIME_CREDIT : stype.str32
CREDIT_DAY_OVERDUE : stype.int32
DTIME_CREDIT_ENDDATE : stype.str32
DTIME_CREDIT_ENDDATE_FACT : stype.str32
CREDIT_FACILITY : stype.int32
AMT_CREDIT_MAX_OVERDUE : stype.float64
CNT_CREDIT_PROLONG : stype.int32
AMT_CREDIT_SUM : stype.float64
AMT_CREDIT_SUM_DEBT : stype.float64
AMT_CREDIT_SUM_LIMIT : stype.float64
AMT_CREDIT_SUM_OVERDUE : stype.float64
CREDIT_SUM_TYPE : stype.bool8
CREDIT_TYPE : stype.int32
DTIME_CREDIT_UPDATE : stype.str32
CREDIT_DELAY30 : stype.int32
CREDIT_DELAY5 : stype.int32
CREDIT_DELAY60 : stype.int32
CREDIT_DELAY90 : stype.int32
CREDIT_DELAY_MORE : stype.int32
AMT_REQ_SOURCE_HOUR : stype.int32
AMT_REQ_SOURCE_DAY : stype.int32
AMT_REQ_SOURCE_WEEK : stype.int32
AMT_REQ_SOURCE_MON : stype.int32
AMT_REQ_SOURCE_QRT : stype.int32
AMT_REQ_SOURCE_YEAR : stype.int32
AMT_ANNUITY : stype.float64
TEXT_PAYMENT_DISCIPLINE : stype.str32

In [9]:
# отбираем столбец NUM_SOURCE 
# и выводим первые 5 наблюдений
datatable_df[:,'NUM_SOURCE'].head(5)

In [10]:
# отбираем первые 3 строки столбца NUM_SOURCE
datatable_df[:3, 'NUM_SOURCE']

In [11]:
# отбираем первые 3 строки столбца NUM_SOURCE
# (столбца с индексом 2)
datatable_df[:3, 2]

In [12]:
# отбираем первые 3 строки первых двух столбцов
# (столбцов ID и SK_DATE_DECISION)
datatable_df[:3, :2]

In [13]:
# выведем количество пропусков по каждой переменной
datatable_df.countna()

In [14]:
# выведем средние суммы задолженности по первым 5 клиентам
datatable_df[:, dt.mean(dt.f.AMT_CREDIT_SUM_DEBT), dt.by('ID')].head(5)

In [15]:
# удаляем столбец ID
del datatable_df[:, 'ID']

In [16]:
# сохраняем фрейм в CSV-файл
datatable_df.to_csv('datatable_results.csv')