### Вопрос 1
### Расскажите об операторах принадлежности in и not in.

#### Они используются для проверки того, найдено ли значение или переменная в последовательности (строка, список, кортеж, множество и словарь).

In [1]:
import numpy as np
a = np.array([1, 2, 3])

In [2]:
1 in a

True

In [3]:
5 not in a

True

### Вопрос 2
### Расскажите про операторы тождественности is и is not.

#### Они используются для проверки того, занимают ли два значения (или переменные) одну и ту же позицию памяти. Две равные переменные не означают, что они идентичны.

In [4]:
True is False

False

In [5]:
True is not False

True

### Вопрос 3
### Дано a = [1, 2, 3] и b = [1, 2, 3], 
### какое значение получим, применив оператор a == b?
### какое значение получим, применив оператор a is b?

#### В первом случае получили True, во втором случае – False. Списки равны, но не идентичны. Это потому, что интерпретатор размещает их в отдельных участках памяти, хотя они равны.

In [6]:
a = [1, 2, 3]
b = [1, 2, 3]

In [7]:
a == b

True

In [8]:
a is b

False

In [9]:
print(id(a))
print(id(b))

140647040535552
140647040534848

### Вопрос 4
### Какое значение получим, применив оператор a is b:
### если a = 123 и b = 123;
### если a = 'hello' и b = 'hello'.

In [10]:
a = 123
b = 123
a is b

True

In [11]:
a = 'hello'
b = 'hello'
a is b

True

#### В обоих случаях получим значение True. Этот эффект обусловлен тем, что Python в целях производительности кэширует короткие строки и малые целые числа (от -5 до 256). Если взять числа побольше, числа с плавающей точкой, строки подлиннее, то этот эффект пропадает. Убедимся в этом.

In [12]:
a = 100500
b = 100500
a is b

False

In [13]:
a = 27.8
b = 27.8
a is b

False

In [14]:
a = 'hello world'
b = 'hello world'
a is b

False

### Вопрос 5
### Преобразуйте список ```['one', 'two', 'three', 'four']``` в строку.

#### Воспользуемся методом .join(), который возвращает строку, собранную из элементов указанного объекта, поддерживающего итерирование.

In [15]:
lst = ['one', 'two', 'three', 'four']
s=' '.join(lst)
s

'one two three four'

### Вопрос 6
### У нас есть список менеджеров и по каждому менеджеру известен результат его работы – объем продаж, нужно получить реестр вида
```
Petrov 200000 
Sidorov 100000 
Ivanov 50000
```

#### «Сшиваем» два списка – список с фамилиями менеджеров и список с суммами продаж с помощью функции zip().

In [16]:
members = ['Petrov', 'Sidorov', 'Ivanov']
sales = [200000, 100000, 50000]
for i, j in zip(members, sales):
    print(i, j)

Petrov 200000
Sidorov 100000
Ivanov 50000

### Вопрос 7
### Как в Python узнать, в каком каталоге мы сейчас находимся?

#### Необходимо воспользоваться методом getcwd() модуля os.

In [17]:
import os
os.getcwd()

'/Users/artemgruzdev/Documents/Subscription/Subscription_Code'

### Вопрос 8
### Создайте список ```[1, 3, 5, 7, 9]``` с помощью генератора списков (нужно воспользоваться одной строкой программного кода).

In [18]:
[i for i in range(1, 10, 2)]

[1, 3, 5, 7, 9]

### Вопрос 9 
### Обратите порядок элементов в списке ```[1, 3, 5, 7, 9]```.

In [19]:
a = [1, 3, 5, 7, 9]
a.reverse()
a

[9, 7, 5, 3, 1]

### Вопрос 10
### У нас есть список под названием a вида ```[9, 7, 5, 3, 1]```, какой элемент вернет программный код ```a[-2]```?

In [20]:
a = [9, 7, 5, 3, 1]
a[-2]

3

### Вопрос 11
### У нас есть два списка ```['Petrov', 'Sidorov', 'Ivanov']``` и ```[200000, 100000, 50000]```. Нужно превратить их в словарь вида 
``` 
{'Petrov': 200000, 'Sidorov': 100000, 'Ivanov': 50000} 
```.

#### С помощью функций dict() и zip() создаем из двух списков словарь.

In [21]:
dictionary = dict(zip(members, sales))
dictionary

{'Petrov': 200000, 'Sidorov': 100000, 'Ivanov': 50000}

### Вопрос 12
### Как убрать дубликаты из списка ```[1, 2, 1, 3, 4, 2]```.

#### Воспользуемся функцией set(), чтобы превратить список в множество, вспомним, что множество – это коллекция, содержащая только уникальные значения.

In [22]:
lst = [1, 2, 1, 3, 4, 2]
set(lst)

{1, 2, 3, 4}

### Вопрос 13
### Как работает отрицательный индекс?

In [23]:
mylist = [0, 1, 2, 3, 4, 5 , 6, 7, 8]
mylist[-3]

6

### Вопрос 14
### Необходимо получить индекс по каждому элементу списка ```['Petrov', 'Ivanov', 'Sidorov']``` в следующем виде:

```
(0, 'Petrov') 
(1, 'Ivanov')
(2, 'Sidorov')
```

#### Для решения воспользуемся функцией enumerate().

In [24]:
lst = ['Petrov', 'Ivanov', 'Sidorov']
for i in enumerate(lst):
    print(i)

(0, 'Petrov')
(1, 'Ivanov')
(2, 'Sidorov')

### Вопрос 15
### Дан список признаков ```['age', 'credit', 'debt']``` и список регрессионных коэффициентов ```[0.4, -0.2, -0.13]```. Нужно получить список кортежей вида ```[('age', 0.4), ('credit', -0.2), ('debt', -0.13)]```.

#### Воспользуемся функциями list() и zip().

In [25]:
features = ['age', 'credit', 'debt']
coeff = [0.4, -0.2, -0.13]
list_of_tuples = list(zip(features, coeff))
list_of_tuples

[('age', 0.4), ('credit', -0.2), ('debt', -0.13)]

### Вопрос 16
### У нас есть набор данных, записанный в файле alfa_python_test.csv.
### a.	Для каждого уникального id оставьте только одну строку с самой поздней датой. 
### b.	Cколько теперь в каждом городе уникальных id?
### c.	Сколько теперь id содержится в каждом множестве городов?

In [26]:
# импортируем библиотеку pandas
import pandas as pd

In [27]:
# загружаем данные
df = pd.read_csv('Data/alfa_python_test.csv')
# смотрим первые 20 наблюдений
df.head(20)

                                   city                 date   id
0           Kazan, St-Petersburg, Sochi  2014-10-06 03:16:18   49
1                         Moscow, Kazan  2013-01-04 09:44:04  252
2                         Kazan, Moscow  2013-12-04 11:39:03  208
3                  St-Petersburg, Kazan  2014-09-04 10:09:53   81
4          St-Petersburg, Moscow, Sochi  2014-09-25 02:04:14  109
5   Moscow, Sochi, St-Petersburg, Kazan  2014-02-24 09:30:03   27
6   Moscow, St-Petersburg, Sochi, Kazan  2014-09-20 18:31:50    3
7                 St-Petersburg, Moscow  2014-08-28 22:07:53  213
8   Moscow, St-Petersburg, Kazan, Sochi  2013-08-30 08:20:26   50
9          Kazan, Moscow, St-Petersburg  2014-07-24 00:58:48  143
10  Kazan, Sochi, Moscow, St-Petersburg  2014-04-01 23:04:58  196
11                                  NaN  2013-01-12 15:12:03   45
12  St-Petersburg, Moscow, Kazan, Sochi  2013-12-23 17:00:00  102
13                                Sochi  2014-05-03 01:18:26  120
14  Kazan, St-Petersburg, Sochi, Moscow  2014-09-02 10:25:27  139
15                               Moscow  2013-01-13 09:10:31  292
16         St-Petersburg, Moscow, Kazan  2014-02-19 16:34:49  256
17                Moscow, St-Petersburg  2014-05-30 23:58:56  287
18                                Sochi  2014-07-13 12:51:25  240
19  Moscow, Kazan, Sochi, St-Petersburg  2014-01-05 01:13:11   98

In [28]:
# смотрим типы переменных и наличие пропусков
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    805 non-null    object
 1   date    1000 non-null   object
 2   id      1000 non-null   int64
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [29]:
# приводим столбец date к типу datetime 
df['date'] = pd.to_datetime(df['date'])

In [30]:
# отсортируем по id и выведем первые 10 наблюдений
df.sort_values('id').head(10)

                                    city                date  id
106         Kazan, Moscow, St-Petersburg 2014-10-06 20:58:34   0
157                        Moscow, Sochi 2013-09-24 18:06:24   0
335                               Moscow 2013-06-27 21:55:49   0
150                                Sochi 2014-02-19 22:19:14   1
300  Sochi, St-Petersburg, Moscow, Kazan 2013-03-18 06:46:12   1
873  St-Petersburg, Moscow, Sochi, Kazan 2014-11-04 11:53:27   1
86                         Moscow, Sochi 2014-09-14 12:37:29   1
46   Sochi, St-Petersburg, Kazan, Moscow 2014-03-20 21:25:05   2
224  Moscow, Kazan, St-Petersburg, Sochi 2014-07-02 02:04:42   2
484                                  NaN 2014-05-21 10:29:54   3

### a. Для каждого уникального id оставьте только одну строку с самой поздней датой

In [31]:
# для каждого уникального id оставим только одну строку с самой поздней датой,
# idmax() выдаёт индексы максимальных значений, в нашем случае - в колонке 'date'
df = df.loc[df.groupby('id')['date'].idxmax()].sort_values('id')
df.head(10)

                                    city                date  id
106         Kazan, Moscow, St-Petersburg 2014-10-06 20:58:34   0
873  St-Petersburg, Moscow, Sochi, Kazan 2014-11-04 11:53:27   1
224  Moscow, Kazan, St-Petersburg, Sochi 2014-07-02 02:04:42   2
819                        Moscow, Sochi 2014-10-31 13:06:28   3
983  Kazan, Moscow, Sochi, St-Petersburg 2013-06-10 22:25:47   4
470                 Kazan, Sochi, Moscow 2013-03-23 11:45:54   5
76          St-Petersburg, Sochi, Moscow 2014-02-06 23:17:13   6
709                 Sochi, St-Petersburg 2013-10-01 10:10:24   7
265                                Kazan 2014-04-30 04:47:09   8
80          Moscow, Sochi, St-Petersburg 2013-11-07 11:38:20   9

In [32]:
# удаляем пропуски
df.dropna(inplace=True)

### b. Cколько теперь в каждом городе находится уникальных id?

In [33]:
# создаем пустой список
cities = []

# с помощью цикла подсчитываем количество
# уникальных вхождений каждого города
for city in sorted(df['city'].unique()):
    for i in city.split(', '):
        if i not in cities:
            cities.append(i)
            # печатаем название города
            print(i)
            # печатаем количество уникальных вхождений
            print(df['city'].str.contains(i).sum())

Kazan
163
Moscow
163
Sochi
166
St-Petersburg
153

### c. Сколько теперь id содержится в каждом множестве городов?

1. С помощью метода .split() разбиваем строку (строковое значение столбца City) на части, используя разделитель (в данном случае - запятую), и возвращаем эти части в виде списка.
2. Выполняем сортировку эти частей через функцию sorted().
3. С помощью метода .join() разделяем части запятыми, таким образом, получаем единый формат множеств: например, 'Sochi, Moscow' станет 'Moscow, Sochi'.
4. С помощью комбинации map + lambda вышеописанные три пункта применяем для каждой строки.

In [34]:
df['city'] = df['city'].map(lambda x: ', '.join(sorted(x.split(', '))))
df['city'].value_counts()

Kazan, Moscow, Sochi, St-Petersburg    70
Kazan, Moscow, Sochi                   29
Moscow, Sochi, St-Petersburg           18
Kazan, Moscow, St-Petersburg           16
Sochi                                  15
St-Petersburg                          15
Kazan                                  12
Kazan, Sochi, St-Petersburg            11
Kazan, Moscow                          10
Kazan, St-Petersburg                    8
Moscow, Sochi                           8
Sochi, St-Petersburg                    8
Moscow, St-Petersburg                   7
Kazan, Sochi                            7
Moscow                                  5
Name: city, dtype: int64