In [62]:
from datetime import datetime

import pandas as pd


'''
загружаем csv в df, попутно обрабатывая колонки
- формируем таймстамп 
- таймстамп нужен как индекс
- отбрасываем ненужные колонки (оставляем только close)
- проверяем правильность типов в колонке
'''

filename_1d = "..\\data\\moex\\SBER_200101_240530.csv"
filename_1h = "..\\data\\moex\\SBER_240205_240603.csv"

dtype={
    '<TICKER>': 'string',
    '<PER>': 'string',
    '<DATE>': 'string',
    '<TIME>': 'string',
    '<OPEN>': 'float',
    '<HIGH>': 'float',
    '<LOW>': 'float',
    '<CLOSE>': 'float',
    '<VOLUME>': 'float',
}

df = pd.read_csv(filename_1h, delimiter=";", decimal=".", dtype=dtype)
df['timestamp'] = pd.to_datetime(df['<DATE>'] + ' ' + df['<TIME>'], format='%y%m%d %H%M%S')
df

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,timestamp
0,SBER,60,240205,100000,276.94,278.00,276.90,277.41,3583730,2024-02-05 10:00:00
1,SBER,60,240205,110000,277.40,278.57,277.40,277.90,3405920,2024-02-05 11:00:00
2,SBER,60,240205,120000,277.90,278.37,277.80,277.89,1053920,2024-02-05 12:00:00
3,SBER,60,240205,130000,277.90,278.14,277.62,278.13,965130,2024-02-05 13:00:00
4,SBER,60,240205,140000,278.13,278.20,277.70,277.87,769270,2024-02-05 14:00:00
...,...,...,...,...,...,...,...,...,...,...
1151,SBER,60,240603,140000,307.60,308.50,305.00,306.29,11036530,2024-06-03 14:00:00
1152,SBER,60,240603,150000,306.30,308.85,305.71,308.01,5833300,2024-06-03 15:00:00
1153,SBER,60,240603,160000,308.01,309.00,307.19,307.90,4679680,2024-06-03 16:00:00
1154,SBER,60,240603,170000,307.91,309.78,306.75,309.78,3729680,2024-06-03 17:00:00
1155,SBER,60,240603,180000,309.78,310.27,308.95,310.27,3332320,2024-06-03 18:00:00